# Ne jamais commiter ces fichiers
.vault_pass
*.log
*.retry

# Le vault en clair — on commite uniquement la version chiffrée
# (si tu veux commiter vault.yml chiffré, retire cette ligne)
# group_vars/all/vault.yml