# Ne jamais commiter ces fichiers
.vault_pass
*.log
*.retry

# Dans mon cas, le vault.yml a été créé directement sur serveur-admin
#Si recréé localement, ne pas oublier de le supprimer avant de commiter
# ou de lajouter à .gitignore en décommentant la ligne suivante
#vault.yml